html, body {
height: 98%;
}

#main{
min-height: 95%;
margin-bottom: 25px;
}

table.zebra{
width-min:1850px;
}

table.zebra tbody tr:nth-child(2n+1) {
  background-color: #e5ffc9;
}
table.zebra tbody tr:nth-child(2n) {
  background-color: #fff5e3;
}
table.zebra th {
  background-color: #d9fcff;
}

#autor{
height: 25px;
background: #d9fcff;
position: float;
margin-bottom: 0px;
}